<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <mvc:annotation-driven />

    <context:property-placeholder
            location="
            classpath:resources/redis-config.properties,
            classpath:resources/mysql-config.properties,
            classpath:resources/cmb-config.properties,
            classpath:resources/pdf-config.properties"
            file-encoding="UTF-8"
            ignore-unresolvable="true"
            order="0"/>

    <task:scheduler id="myPdfScheduler" pool-size="5"/>
    <task:annotation-driven scheduler="myPdfScheduler" />

    <context:component-scan base-package="com.seeyon.apps.pdfCatchButton" />


    <!-- redis配置 -->

    <bean id="pdfCatchJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${myRedis.maxIdle}" />
        <property name="maxTotal" value="${myRedis.maxTotal}" />
        <property name="maxWaitMillis" value="${myRedis.maxWaitMillis}" />
        <property name="testOnBorrow" value="${myRedis.testOnBorrow}" />
    </bean>

    <bean id="pdfCatchJedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${${current.redis.mode}.myRedis.host}" />
        <property name="port" value="${${current.redis.mode}.myRedis.port}" />
        <property name="password" value="${${current.redis.mode}.myRedis.password}" />
        <property name="timeout" value="${${current.redis.mode}.myRedis.timeout}" />

        <property name="poolConfig" ref="pdfCatchJedisPoolConfig" />
        <property name="database" value="0" />
    </bean>

    <bean id="pdfCatchStringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="pdfCatchJedisConnectionFactory" />
    </bean>

    <!-- redis配置 -->

    <!-- 数据源配置 -->

    <bean id="pdfCatchDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${${current.mysql.mode}.jdbc.url}" />
        <property name="username" value="${${current.mysql.mode}.jdbc.username}" />
        <property name="password" value="${${current.mysql.mode}.jdbc.password}" />
    </bean>

    <bean id="pdfSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="pdfCatchDataSource" />
        <property name="mapperLocations" value="classpath*:com/seeyon/apps/pdfCatchButton/dao/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.seeyon.apps.pdfCatchButton.dao" />
        <property name="sqlSessionFactoryBeanName" value="pdfSqlSessionFactory" />
    </bean>

    <bean id="pdfTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="pdfCatchDataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="pdfTransactionManager" />

    <!-- 数据源配置 -->
</beans>